name: production deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: build docker image
        run: |
          docker build -t vinderio/comanda.stores:latest .

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: push docker image
        run: docker push vinderio/comanda.stores:latest

      - name: deploy via easypanel webhook
        run: |
          curl -X POST ${{ secrets.PRODUCTION_DEPLOY_URL }}
